.git
.github
.gitignore

node_modules
**/node_modules

frontend/dist
tsp-output
backend/internal/api/api.gen.go
backend/internal/web/dist

playwright-report
test-results
tests

Dockerfile
.dockerignore
*.md

.vscode
.idea
.DS_Store
